*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;/*kjc*/
   	-moz-osx-font-smoothing: grayscale;
   	font-family: helvetica "微软雅黑" sans-serif;
    box-sizing: border-box;
    -webkit-appearance:none;
    -moz-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}
html{
	background-color: #8B3EE8;
}
img{
	width: 100%;
	vertical-align: middle;
}
.md-block{
	width: 100%;
	position: relative;
}
.md-block-flex{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}
.md-block-f-in{
	width: 90%;
	padding: 5px 10px;
	/*border: 1px solid #000000;*/
}
.md-block-main{
	width: 100%;
	padding: 5px 20px;
}
.bgImg{
	width: 100%;
}
.btn{
	width: 100%;
	margin: 4vw 0;
	height: 40px;
	border-radius: 25px;
	border: none;
	box-shadow: 0 0 10px #7B3AB2;
	background-color: #F152FF;
	outline: none;
	font-size: 1rem;
	font-weight: bold;
	color: #FFFFFF;
}
.btn:active{
	background-color: #FF4527;
}
.btn:visited{
	background-color: #FED03A;
}
.securityBtn{
	border: none;
	background-color: rgba(255,255,255,0);
	height: 23px;
	position: absolute;
	top: 11px;
	right: 34px;
}
.input{
	width: 100%;
	height: 46px;
	border: 1px solid #7B3AB2;
	box-shadow: 0 0 10px #7B3AB2;
	border-radius: 25px;
	text-indent: 70px;
	outline: none;
	margin-bottom: 15px;
}
.placeholderImg{
	width: 18px;
	height: 23px;
	position: absolute;
	top: 10px;
	left: 34px;
}
.border{
	border-radius: 25px;
	border: 1px solid #7B3AB2;
	box-shadow: 0 0 10px #7B3AB2;
}
.title{
	width: 100%;
	height: 30px;
	padding: 5px 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.title h4{
	width: 70%;
	white-space: nowrap;
	text-align: center;
	color: #FED03A;
}
.title hr{
	width: 10%;
	border: 1px solid #FED03A;
	height: 0;
}
/*banner*/
.banner .bannerImg{
	width: 100%;
}


/*reg*/
.banner{
	margin-bottom: 0px;
}

.ewm{
	width: 42vw;
	height: 42vw;
	background-color: #fff;
	background-size: 100%;
}
.dlBtn{
	margin: 6vw 0 6vw 0;
}

.footer{
	width: 90%;
	height: 40px;
	line-height: 40px;
	border-top: 2px solid #FFFFFF;
	white-space: nowrap;
	margin-top: 5px;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -45%;
}
.footer span{
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.red{
	color: red;
}
.position{
	position: absolute;
	top: 83vw;
	left: 50%;
	margin-left: -45%;
}
.titleImg{
	width: 80%;
	margin: 20px auto 10px auto;
}
.banImgPosi{
	position: absolute;
	bottom: 48vw;
	left: 50%;
	margin-left: -40%;
}
.md-block-text{
	width: 100%;
	background-color: #FFFFFF;
	padding: 20px;
	font-size: 14px;
	text-indent: 28px;
}
.jdj{
	background: url(../img/mid_2.png) no-repeat;
	background-size: 100% 100%;
}
.btn_inline{
	height: auto;
	border-radius: 10vw;
	font-weight: 600;
	line-height: 1em;
}
.btn_inline span{
	font-size: 12px;
	font-weight: normal;
}
.gzBtn{
	text-align: center;
	padding: 2vw 0;
	text-decoration: none;
	vertical-align: middle;
}
.caiwei_description{
	position: absolute;
	top: 163vw;
	width: 88%;
	border: 2px solid #FFFFFF;
	color: white;
	left: 50%;
	margin-left: -44%;
	font-size: 4vw;
	font-weight: 600;
	line-height: 1.8em;
	text-align: justify;
	text-indent: 2em;
	padding: 4vw 2.8vw;
	border-radius: 10px;
}